// using .scss extension
@use 'base';

.smol-centering {
    display: grid;
    place-content: center;
}

$container-max: 800px;

.smol-container {
    width: min(100%, $container-max);
    margin-inline: auto;
}

.smol-stack-layout {
    display: grid;
    grid-template-areas: "stack";

    // aspect-ratio: 1/1;

    &>* {
        // outline: 2px solid rgb(178, 205, 59);
        grid-area: stack;
    }
}

.smol-stack-layout {

    img {
        width: 100%;
        background-image: linear-gradient(#58703f, #cad3c8);
        border-radius: 1em;
    }

    h3 {
        place-self: center;
        width: 100%;
        font-size: clamp(2rem, 5vw, 4rem);
        color: rgb(235, 235, 217);
        text-align: center;
        line-height: 1.5;
        padding: 5vh 2vw;
        background-image: radial-gradient(circle, rgba(107, 107, 107, 0.4), rgba(255, 255, 255, 0) 70%);
    }

    small {
        align-self: end;
        justify-self: start;
        padding: 0 0 .25rem .5rem;
        opacity: 0.8;
        font-size: 0.8rem;
        color: rgb(0, 85, 0);

        a {
            color: currentColor;
            text-decoration: none;
        }

        span {
            text-decoration: underline;
        }
    }

    h3,
    small {
        position: relative;
    }
}

.smol-background-picture {
    
}

.smol-sidebar {
    display: grid;
    grid-template-columns: fit-content(20ch) 1fr;
}


img:nth-of-type(1) {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 3/4;
    object-fit: cover;
    object-position: top center;
}

img:nth-of-type(2) {
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.random {
    display: flex;
    align-items: center;
    border-radius: 1em;
    min-height: 70px;
    // text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    background: conic-gradient(from 90deg at 70% 50%, #BCA2EB 30%, #00BCD4 30%, #00BCD4 70%, #82A0EE 70%);

    &>div {
        width: 70%;
        padding: 0 12px;
    }
}

// flow
main>*+* {
    margin-top: 1.5rem;
}